<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h5> Hi I am Pranshu Verma and I welcome you to this Weather Checker</h5> 
        
    </div>
    
    {{>footer}}
</body>

</html>
