<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h5> Hi I am Pranshu Verma and I welcome you to my Weather Checker</h5>. <h6>(Yes that's me behind the mask)</h6> 
        <img class="portrait" src="/img/me.png">
    </div>
    
    {{>footer}}
</body>

</html>